*.dSYM/
.deps/
.libs/
Makefile
autom4te.cache/
config.log
config.status
doc/emacs/Makefile
doc/lispintro/Makefile
doc/lispref/Makefile
doc/misc/Makefile
etc/DOC
etc/DOC-*
leim/changed.misc
leim/changed.tit
leim/leim-list.el
leim/quail/4Corner.el
leim/quail/ARRAY30.el
leim/quail/CCDOSPY.el
leim/quail/CTLau-b5.el
leim/quail/CTLau.el
leim/quail/ECDICT.el
leim/quail/ETZY.el
leim/quail/PY-b5.el
leim/quail/PY.el
leim/quail/Punct-b5.el
leim/quail/Punct.el
leim/quail/QJ-b5.el
leim/quail/QJ.el
leim/quail/SW.el
leim/quail/TONEPY.el
leim/quail/ZIRANMA.el
leim/quail/ZOZY.el
leim/quail/quick-b5.el
leim/quail/quick-cns.el
leim/quail/tsang-b5.el
leim/quail/tsang-cns.el
lib-src/ctags
lib-src/ebrowse
lib-src/emacsclient
lib-src/etags
lib-src/hexl
lib-src/make-docfile
lib-src/movemail
lib-src/profile
lib-src/stamp-grep-changelog
lib-src/stamp-rcs-checkin
lib-src/stamp-rcs2log
lib-src/stamp-vcdiff
lib-src/test-distrib
lib-src/update-game-score
lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/getopt.h
lib/inttypes.h
lib/signal.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
lib/sys/stat.h
lib/time.h
lib/unistd.h
lib/warn-on-use.h
mac/Emacs.app/Contents/MacOS/Emacs
src/bootstrap-emacs
src/buildobj.h
src/config.h
src/deps/*.d
src/emacs
src/emacs-*
src/temacs
/src/epaths.h
/src/gl-stamp
/src/globals.h
/src/stamp-h1
/src/stamp-oldxmenu
